@font-face {
  font-family: 'custom';
  src: local('MyCustomFont Regular'), url('../src/fonts/papyrus-webfont.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #008080;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #008080;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.367);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  backdrop-filter: blur(30px);
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-family: 'Papyrus', sans-serif;
}
.todo-text {
  font-size: 21px;

}

.rem, .comp {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  backdrop-filter: blur(30px);
  font-size: 1rem;
  margin-bottom: 10px;
}

.rem {
  color: white;
  background-color: #a61f44;
  margin-right: 10px;
  padding: 8px;
}

.remaning {
  color: black;
}

.comp {
  color: white;
  background-color: #00674f;
  padding: 8px;
}

::placeholder {
  font-family: 'custom', 'sans-serif';
}

input[type="text"] {
  width: calc(100% - 120px);
  padding: 0.5rem;
  margin-right: 1rem;
  margin-top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  backdrop-filter: blur(20px);
  font-size: 16px;
  font-family: 'custom', sans-serif;

}

input[type="checkbox"] {
  accent-color: #00674f;
  transform: scale(1.3);
}

input:focus {
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  background: rgba(255, 133, 89, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 133, 89, 0.3);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

li button {
  background-color: transparent;
  margin-left: 5px;
}

li button:hover {
  background-color: #a61f44;
  color: white;
}

.Pbtn, .Nbtn, .Ubtn {
  margin: 3px;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 128, 128, 0.64);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 128, 128, 0.3);
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s;
}


.Ubtn:hover { background-color: #a61f44; }
.Pbtn:hover { background-color: #ff5349; }
.Nbtn:hover { background-color: #04c8f9; }


ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 128, 128, 0.64);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 128, 128, 0.3);
  gap: 0.5rem;
  transition: all linear 5s; opacity: 1;
}

li .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pending{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background: #a61f44;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 128, 128, 0.3);
  gap: 0.5rem;
  transition: all linear 5s; opacity: 1;
}
.finished {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background: #00674f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 128, 128, 0.3);
    gap: 0.5rem;
    transition: all linear 5s; opacity: 1;
}

.priority.high {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #a61f44;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 133, 89, 0.3);
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
  color:black;
}
.priority.moderate {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #ff5349;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 133, 89, 0.3);
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
  color: black;
}
.priority.low {
  color: black;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #006994;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 133, 89, 0.3);
  font-weight: bold;
  margin-left: 5px;
}



.description {
  font-size: 1rem;
  margin-top: 5px;
  color: black;
}

.completed {
  color: black;
  text-decoration: line-through;
}

h3 {
  text-align: center;
  padding: 0;
}

.blanktext {
  font-size: 20px;
  font-family: 'custom', sans-serif;
}


@media (max-width: 480px) {
  li .top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;

  }


  li button {
    margin-left: 0;
  }

  button {
    padding: 0.6rem 1.2rem;
    font-size: 16px;

  }
  li button:focus {
    background-color: #c82333;
  }
  .priority {
    margin-left: 0;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(4, 200, 249);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    backdrop-filter: blur(30px);
  }
  .Ubtn:focus { background-color: #a61f44; }
  .Pbtn:focus { background-color: #e94943; }
  .Nbtn:focus { background-color: #04c8f9; }


  h1{
    font-family: 'custom', sans-serif;
  }
  ::placeholder {
    font-family: 'custom', sans-serif;
  }

}



